@font-face {
  font-family: "OktaNeueRegular";
  src: local("OktaNeueRegular"),
    url("./fonts/OktaNeue-UltraLight.otf") format("opentype");
  font-weight: regular;
}

@font-face {
  font-family: "OktaNeueItalic";
  src: local("OktaNeueItalic"),
    url("./fonts/OktaNeue-BlackItalic.otf") format("opentype");
  font-weight: regular;
}

@font-face {
  font-family: "AcquireRegular";
  src: local("AcquireRegular"), url("./fonts/Aquire.otf") format("opentype");
  font-weight: regular;
}
